body{
    font-family: 'Times New Roman', Times, serif;
    background-color:bisque;
    margin: 0;
    padding: 150px;
}

.resume-container{
    display: flex;
    background-color:beige;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0 ,o.1);
}
.left-sec{
    background-color:rgb(112, 38, 38);
    padding: 20px;
    width:35%;
    text-align: center;
    border-right: 5px solid black;
}

.picture{
    width: 80%;
    height:40%;
    margin-top: 10%;
    margin-bottom: 20px;
    border-radius: 50%;
    box-shadow: 0 0 15px #be5555;
    border: 5px solid #be5555 ;
    
}

h1{
    font-size: 24px;
    margin: 10px 0;
    margin-bottom: 30px;
    text-align: center;
}

h3{
    font-size: 18px;
    padding: 4px;
    margin: 20px 0 10px;
    color: #000;
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(190, 85, 85);
    margin-top: 5%;
    margin-bottom: 5%;
}

ul li{
margin: 5px 0;
}

ul{
    list-style-type: fill round;
    padding: 10;
    margin: 10px 0;
}

.right-sec{
    padding: 20px;
    width: 65%;
}

button{
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(190, 85, 85);
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
}

button:hover{
    background-color: maroon;
    color: white;
}